@using MVC5_Proje1.Models.Entity
@model List<TBL_Kitap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>KİTAPLAR</h2>
<br />
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <br/>
     @Html.TextBox("p")
    <input type="submit" class="btn btn-warning" value="Ara" />
}
<br />

<form method="post">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kitap Adı</th>
            <th>Kitap Yazarı</th>
            <th>Kategorisi</th>
            <th>Basım Yılı</th>
            <th>Yayınevi</th>
            <th>Sayfa</th>
            <th>Durum</th>
            <th></th>
        </tr>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.Kitapid</td>
            <td>@x.Kitapad</td>
            <td>@x.TBL_Yazar.yazarad &nbsp;@x.TBL_Yazar.yazarsoyad</td>
            <td>@x.TBL_Kategori.Ad</td>
            <td>@x.Basımyıl</td>
            <td>@x.Yayınevi</td>
            <td>@x.Kitapsayfa</td>
            <td>@x.Durum</td>
            <td>@Html.ActionLink("Sil", "KitapSil", new { id = x.Kitapid }, new { @class = "btn btn-danger", onclick = "return confirm('SİLMEK İSTEDİĞİNE EMİN MİSİN?')" }) </td>
            <td><a href="/Kitap/KitapGetir/@x.Kitapid" class="btn btn-primary">Güncelle</a></td>
        </tr>
            }
    </table>
    <a href="/Kitap/KitapEkle" class="btn btn-primary">Kitap Ekle</a>
</form>